<% this.title = '编辑题目'; %>
<%- include('header'); %>
<style type="text/css">
  .problem_header{
    text-align: center;
  }
</style>
<div class="padding">
    <form method="post" action="<%= syzoj.utils.makeUrl(['problem', req.params.id, 'edit']) %>">
      <div class="ui top attached tabular menu">
        <a class="item active" data-tab="edit">编辑</a>
        <a class="item" data-tab="preview" id="preview_tab">预览</a>
      </div>
      <div class="ui bottom attached tab segment active" data-tab="edit">
        <div class="ui form"><div class="field">
          <% if (problem.allowedManage) { %>
            <label for="id">
              <% if (problem.new) { %>
                题目编号
              <% } else { %>
                修改题目编号
              <% } %>
            </label>
            <input type="text" id="id" name="id" placeholder="<% if (problem.new) { %>留空则自动延伸<% } else { %>留空则不修改<% } %>" value="<%= problem.id ? problem.id : '' %>">

            <div style="margin-top: 15px; "></div>
          <% } %>
          <label for="title">题目名称（请主动使用直角引号标记比赛，比赛题目列表中，「来源」标签会被自动移除）</label>
          <input class="font-content" type="text" id="title" name="title" value="<%= problem.title %>" placeholder="「来源」名称，双击获得一对免费的直角引号！">
        
          <label style="margin-top: 15px; " for="description">题目描述</label>
          <textarea class="markdown-edit" rows="15" id="description" name="description"><%= problem.description %></textarea>
          <label style="margin-top: 15px; " for="input_format">输入格式</label>
          <textarea class="markdown-edit" rows="10" id="input" name="input_format"><%= problem.input_format %></textarea>
          <label style="margin-top: 15px; " for="output_format">输出格式</label>
          <textarea class="markdown-edit" rows="10" id="output" name="output_format"><%= problem.output_format %></textarea>
          <label style="margin-top: 15px; ">样例</label>
          <input type="hidden" name="example" id="example" value="<%= JSON.stringify(problem.example) %>">
          <div id="samples">
              
              <% for (let i = 0; i < problem.example.length; ++i) { %>
                  <div class="two fields">
                    <div class="field">
                      <textarea class="markdown-edit sample_input" rows="5" sample_id=<%= i %> placeholder="样例输入"><%= problem.example[i].input %></textarea>
                    </div>
                    <div class="field">
                      <textarea class="markdown-edit sample_output" rows="5" sample_id=<%= i %> placeholder="样例输出"><%= problem.example[i].output %></textarea>
                    </div>
                  </div>
              <% } %>
              
          </div>
          <!--textarea class="markdown-edit" rows="15" id="example" name="example"><%= problem.example %></textarea-->
          <label style="margin-top: 15px; ">数据范围与提示</label>
          <textarea class="markdown-edit" rows="10" id="hint" name="limit_and_hint"><%= problem.limit_and_hint %></textarea>

          <label style="margin-top: 15px; ">标签</label>
          <select class="ui fluid search dropdown" multiple="" id="search_tags" name="tags">
            <% for (let tag of problem.tags) { %>
              <option value="<%= tag.id %>" selected><%= tag.name %></option>
            <% } %>
          </select>
          
          <label style="margin-top: 15px; ">权限</label>
          <select class="ui dropdown" name="permission">
            <option value="0" <%= problem.permission === 0 ? 'selected': '' %>>外来学生可查看（及其不推荐）</option>
            <option value="20" <%= problem.permission === 20 ? 'selected': '' %>>普及及以上</option>
            <option value="30" <%= problem.permission === 30 ? 'selected': '' %>>提高- 及以上</option>
            <option value="40" <%= problem.permission === 40 ? 'selected': '' %>>提高及以上</option>
            <option value="50" <%= problem.permission === 50 ? 'selected': '' %>>省选- 及以上</option>
            <option value="60" <%= problem.permission === 60 ? 'selected': '' %>>省选及以上</option>
            <option value="100" <%= problem.permission === 100 ? 'selected': '' %>>神仙及以上</option>
          </select>
          
          <label style="margin-top: 15px; ">难度</label>
          <input class="font-content" readonly type="text" id="difficulty-show" value="*<%= problem.difficulty %>">
          <input style="width: 100%" type="range" id="difficulty" name="difficulty" value="<%= problem.difficulty %>" step="100" min="800" max="3200">
          
          <div class="ui <% if (problem.is_anonymous) { %>checked <% } %>checkbox" style="margin-top: 15px; ">
            <input <% if (problem.is_anonymous) { %>checked=""<% } %> name="is_anonymous" type="checkbox">
            <label><strong>匿名上传</strong></label>
            <p style="margin-top: 5px; ">选择后，上传者的用户名将不在题目页面中显示。</p>
          </div>
        </div></div>
      </div>
      <div class="ui bottom attached tab segment" data-tab="preview" id="preview">
        <h1 class="ui header problem_header" id="pv-title"></h1>
        <h2 class="ui header">题目描述</h2>
        <div class="font-content" id="pv-description"></div>
        <h2 class="ui header">输入格式</h2>
        <div class="font-content" id="pv-input"></div>
        <h2 class="ui header">输出格式</h2>
        <div class="font-content" id="pv-output"></div>
        <h2 class="ui header">样例</h2>
        <div class="font-content" id="pv-example"></div>
        <h2 class="ui header">数据范围与提示</h2>
        <div class="font-content" id="pv-hint"></div>
      </div>
      <% if (problem.allowedEdit) { %>
      <div style="text-align: center; ">
      <button type="submit" id="submit_button" class="ui labeled submit icon button">
        <i class="icon edit"></i> 提交
      </button>
      </div>
      <% } %>
    </form>
</div>
<script type="text/javascript">
$(function () {
    function renderExample(output, input){
      let data = input.val();
      data = JSON.parse(data);
      let ori = '';
      for(let i = 0; i < data.length; ++i){
      
        if(data[i].input == '' && data[i].output == '') continue;
        
        ori += '### 样例输入 ' + (i + 1) + '\n';
        ori += '```\n';
        ori += data[i].input.trim().replaceAll('`', '\\`');
        ori += '\n```\n\n'
        ori += '### 样例输出 ' + (i + 1) + '\n';
        ori += '```\n';
        ori += data[i].output.trim().replaceAll('`', '\\`');
        ori += '\n```\n\n'
      }
      $.post('/api/markdown', { async: false, s: ori }, function (s) {
        output.html(s.replaceAll('\\`', '`'));
      });
    }
    function render(output, input) {
      $.post('/api/markdown', { s: input.val() }, function (s) {
        output.html(s);
      });
    }
    $("#preview_tab").click(function () {
      $("#pv-title").text($("#title").val());
      $("#pv-description, #pv-input, #pv-output, #pv-example, #pv-hint").text('Loading...');
      render($("#pv-description"), $("#description"));
      render($("#pv-input"), $("#input"));
      render($("#pv-output"), $("#output"));
      renderExample($("#pv-example"), $("#example"));
      render($("#pv-hint"), $("#hint"));
    });
    $('.tabular.menu .item').tab();
});
</script>
<script>
$(function () {
  $('#search_tags')
    .dropdown({
      debug: true,
      saveRemoteData: false,
      apiSettings: {
        url: '/api/v2/search/tags/{query}',
        onResponse: function (response) {
          var a = $('#search_tags').val().map(function (x) { return parseInt(x) });
          if (response.results) {
            response.results = response.results.filter(function(x) { return !a.includes(parseInt(x.value));});
          }
          return response;
        },
        cache: false
      }
    });
});
</script>

<script>
  $('#difficulty')
    .on('mousemove', () => {
        $('#difficulty-show').val('*' + $('#difficulty').val());
    });
  $('#title').dblclick(() => {
    let content = $('#title').val();
    if(content.startsWith('「')) return;
    $('#title').val('「」' + content);
  });
</script>

<script>

let content = <%- JSON.stringify(problem.example) %>;

<% if(problem.example.length) { %>
  $('.sample_input')
    .change((event) => {
      let now = event.currentTarget;
      let id = $(now).attr('sample_id');
      content[id].input = $(now).val();
      $('#example').val(JSON.stringify(content));
      addNew();
    });
  $('.sample_output')
    .change((event) => {
      let now = event.currentTarget;
      let id = $(now).attr('sample_id');
      content[id].output = $(now).val();
      $('#example').val(JSON.stringify(content));
      addNew();
    });

<% } %>
    
function addNew(){
    let isnull = false;
    
    for(let i of content)
        if(i.input == '' && i.output == '')
            isnull = true;
    
    if(isnull == true)
        return;
    
    content.push({input: '', output: ''});
    
    
    let newElement = `

              <div class="two fields">
                <div class="field">
                  <textarea class="markdown-edit sample_input" rows="5" placeholder="样例输入 8db3f1" sample_id="oimasterakioi"></textarea>
                </div>
                <div class="field">
                  <textarea class="markdown-edit sample_output" rows="5" placeholder="样例输出 8db3f1" sample_id="oimasterakioi"></textarea>
                </div>
              </div>
`;

    $('#samples').append(newElement.replaceAll('oimasterakioi', content.length - 1).replaceAll('8db3f1', content.length));
    
    
  $('[sample_id=' + (content.length - 1) + '].sample_input')
    .change((event) => {
      let now = event.currentTarget;
      let id = $(now).attr('sample_id');
      content[id].input = $(now).val();
      $('#example').val(JSON.stringify(content));
      addNew();
    });
  $('[sample_id=' + (content.length - 1) + '].sample_output')
    .change((event) => {
      let now = event.currentTarget;
      let id = $(now).attr('sample_id');
      content[id].output = $(now).val();
      $('#example').val(JSON.stringify(content));
      addNew();
    });
    
}

addNew();

    
</script>

<%- include('footer'); %>
