<% this.title = '学生认证' %>
<%- include('header'); %>
<div class="ui error message" id="error" hidden></div>
<div class="ui middle aligned center aligned grid">
  <div class="row">
    <div class="column" style="max-width: 450px">
      <h4 class="ui image header">
        <div class="content" style="margin-bottom: 10px; ">
          学生认证 - 教师端<br>
          <div class="sub header">
            请在下方选择学生的权限，选择后会自动保存。
          </div>
        </div>
      </h4>
        <table class="ui very basic center aligned table" style="table-layout: fixed; ">
            <thead>
            <tr>
                <th style="width: 150px; ">用户名</th>
                <th style="width: 150px; ">真实姓名</th>
                <th style="width: 250px; ">权限</th>
            </tr>
            </thead>
        <script data-cfasync="false">
        var lineHeight = 0;
        (function () {
            var div = document.createElement('div');
            div.style.position = 'fixed';
            div.style.left = -10000;
            div.style.visibility = 'hidden';
            div.innerText = '测试，Test.';
            document.body.appendChild(div);
            lineHeight = div.clientHeight;
        })();
        </script>
            <tbody>
            <%
            for (let user of users) {
            %>
                <tr>
                    <td><a href="<%= syzoj.utils.makeUrl(['user', user.id]) %>"><div class="user-<%= syzoj.utils.makeUserColor(user.rating, user.is_admin) %>"><%= user.username %><% if (user.nameplate) { %><span class="user-tag bg-<%= syzoj.utils.makeUserColor(user.rating, user.is_admin) %>"><%- user.nameplate %></span><% } %></div></a></td>
                    <td><%= user.nickname %></td>
                    <!-- <td><a href="<%= syzoj.utils.makeUrl(['user', user.id, 'edit#permission']) %>">这里</a></td> -->
                    <td>
                      <select class="ui dropdown" name="permission<%= user.id %>" id="permission<%= user.id %>">
                        <option value="null" <%= user.permission === null ? 'selected': '' %>>未设置</option>
                        <option value="0" <%= user.permission === 0 ? 'selected': '' %>>外来学生</option>
                        <option value="20" <%= user.permission === 20 ? 'selected': '' %>>普及</option>
                        <option value="30" <%= user.permission === 30 ? 'selected': '' %>>提高-</option>
                        <option value="40" <%= user.permission === 40 ? 'selected': '' %>>提高</option>
                        <option value="50" <%= user.permission === 50 ? 'selected': '' %>>省选-</option>
                        <option value="60" <%= user.permission === 60 ? 'selected': '' %>>省选</option>
                        <option value="100" <%= user.permission === 100 ? 'selected': '' %>>神仙</option>
                      </select>
                      <script>
                        $('#permission<%= user.id %>').change(function() {
                          var permission = $(this).val();
                          $.post('<%= syzoj.utils.makeUrl(['user', user.id, 'set_permission']) %>', {
                            permission: permission
                          }, function(data) {
                            // console.log(data);
                            if (!data.success) {
                              $('#error').html('发生错误。').show();
                            } else {
                              $('#error').hide();
                            }
                          });
                        });
                      </script>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
  </div>
</div>
<script src="<%- lib('blueimp-md5/2.10.0/js/md5.min.js') %>"></script>
<script>
  $(function () {
    $('.ui.dropdown:not(.simple)').dropdown();
  });
</script>
<%- include('footer'); %>
