<% this.title = show_user.username + ' - 用户'; %>
<%- include('header') %>
<style>
#avatar_container:before {
    content: "";
    display: block;
    padding-top: 100%;
}
</style>
<% if (show_user.id == 1) { %>
<style>
/* oimaster kawaii */

@font-face {
    font-family: kawaii;
    src: url("/kawaii.otf") format("opentype");
}

.ui.header,
.ui.button,
.ui.input input,
.ui.menu,
.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url],
h1,
h2,
h3,
h4,
h5,
body {
    font-family:
        kawaii,
        Lato,
        -apple-system,
        'PingFang SC',
        /* Apple */
        'Source Han Sans SC',
        'Noto Sans CJK SC',
        /* Google */
        'Microsoft Yahei',
        'Lantinghei SC',
        'Hiragino Sans GB',
        'Microsoft Sans Serif',
        /* M$ */
        'WenQuanYi Micro Hei',
        /* *nix */
        sans-serif;
}

.font-content {
    font-family: kawaii, 'Open Sans', 'Source Han Sans SC', 'Noto Sans CJK SC', 'PingFang SC', 'Hiragino Sans GB',
        'Microsoft Yahei', sans-serif;
}

.markdown-edit {
    font-family: kawaii, 'Fira Mono', 'Noto Sans CJK SC', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', monospace;
}

</style>
<% } %>
<div class="padding">
<div class="ui grid">
    <div class="row">
        <div class="five wide column">
            <div class="ui card" style="width: 100%; " id="user_card">
                <div class="blurring dimmable image" id="avatar_container">
                    <% if (show_user.allowedEdit) { %>
                    <div class="ui dimmer transition hidden">
                        <div class="content">
                            <div class="center">
                                <a class="ui inverted button" href="<%= syzoj.utils.makeUrl(['user', show_user.id, 'edit']) %>"><i class="edit icon"></i>修改资料</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <img style="margin-top: -100%; " src="<%= syzoj.utils.gravatar(show_user.email, 1000) %>">
                </div>
                <div class="content">
                    <div class="header">
                        <span class="user-<%= syzoj.utils.makeUserColor(Math.round(show_user.rating), show_user.is_admin) %>" style="font-weight: 500">
                            <% if(show_user.is_admin) { %>
                                Headquarters
                            <% } else if(Math.round(show_user.rating) < 1200) { %>
                                Newbie
                            <% } else if(Math.round(show_user.rating) < 1400) { %>
                                Pupil
                            <% } else if(Math.round(show_user.rating) < 1600) { %>
                                Specialist
                            <% } else if(Math.round(show_user.rating) < 1900) { %>
                                Expert
                            <% } else if(Math.round(show_user.rating) < 2100) { %>
                                Candidate Master
                            <% } else if(Math.round(show_user.rating) < 2300) { %>
                                Master
                            <% } else if(Math.round(show_user.rating) < 2400) { %>
                                International Master
                            <% } else if(Math.round(show_user.rating) < 2600) { %>
                                Grandmaster
                            <% } else if(Math.round(show_user.rating) < 3000) { %>
                                International Grandmaster
                            <% } else { %>
                                <font color="red">Legendary Grandmaster</font>
                            <% } %>
                        </span>
                        <span class="user-<%= syzoj.utils.makeUserColor(Math.round(show_user.rating), show_user.is_admin) %>"><%= show_user.username %></span>
                        <% if (show_user.nameplate) { %><span class="user-tag bg-<%= syzoj.utils.makeUserColor(Math.round(show_user.rating), show_user.is_admin) %>"><%- show_user.nameplate %></span><% } %>
                        <% if (show_user.sex == 1) { %><i class="man icon"></i><% } else if (show_user.sex == -1) { %><i class="woman icon"></i><% } %>
                    </div>
                    <div class="meta">
                        <a class="group"><%= show_user.is_admin ? '管理员' : (show_user.permission ? '已验证的学生' : '普通用户') %></a>
                    </div>
                </div>
                <div class="extra content">
                    <a><i class="check icon"></i>通过 <%= show_user.ac_problems.length %> 题</a>
                    <a style="float: right; "><i class="star icon"></i>积分 <%= Math.round(Math.round(show_user.rating)) %></a>
                </div>
            </div>
            <% if (user && show_user.id != user.id && (user.is_admin || user.permission && show_user.permission && show_user.nickname && show_user.nickname === user.nickname)) { %>
                <div class="ui fluid button" id="switch-user" style="margin-top: 10px; "><i class="exchange icon"></i>切换账号</div>
                <script>
                    $('#switch-user').click(function() {
                        $.ajax({
                            url: '/api/switch-user/',
                            type: 'POST',
                            data: {
                                id: <%= show_user.id %>
                            },
                            success: function(data) {
                                if (data.error_code === 1) {
                                    window.location.reload();
                                } else {
                                    alert('切换失败');
                                }
                            }
                        });
                    });
                </script>
            <% } %>
        </div>
        <div class="eleven wide column">
            <div class="ui grid">
                <div class="row">
                    <div class="sixteen wide column">
                        <div class="ui grid">
                            <div class="eight wide column">
                                <div class="ui grid">
                                    <% if (user && user.is_admin && show_user.nickname) { %>
                                    <div class="row">
                                        <div class="column">
                                           <h4 class="ui top attached block header">真实姓名</h4>
                                           <div class="ui bottom attached segment"><%= show_user.nickname %></div>
                                        </div>
                                    </div>
                                    <% } %>
                                    <% if (show_user.emailVisible) { %>
                                      <div class="row">
                                          <div class="column">
                                              <h4 class="ui top attached block header">Email</h4>
                                              <div class="ui bottom attached segment" class="font-content"><%= show_user.email %></div>
                                          </div>
                                      </div>
                                    <% } %>
                                    <div class="row">
                                        <div class="column">
                                            <h4 class="ui top attached block header">个性签名</h4>
                                            <div class="ui bottom attached segment" class="font-content"><%- show_user.information %></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="column">
                                            <h4 class="ui top attached block header">注册于</h4>
                                            <div class="ui bottom attached segment" class="font-content">
                                                <%= syzoj.utils.formatDate(show_user.register_time) %>
                                            </div>
                                        </div>
                                    </div>
                                    <% if (show_user.ac_problems.length > 0) { %>
                                    <div class="row">
                                        <div class="column">
                                            <h4 class="ui top attached block header">通过的题目</h4>
                                            <div class="ui bottom attached segment">
                                                <% for (let problem of show_user.ac_problems) { %>
                                                    <a href="<%= syzoj.utils.makeUrl(['problem', problem]) %>"><%= problem %></a>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="eight wide column">
                                <div class="ui grid">
                                  <div class="row">
                                      <div class="column">
                                          <h4 class="ui top attached block header">统计</h4>
                                          <div class="ui bottom attached segment">
                                            <div id="pie_chart_legend"></div>
                                            <div style="width: 260px; height: 260px; margin: auto"><canvas style="width: 260px; height: 260px; " id="pie_chart"></canvas></div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="column">
                        <h4 class="ui top attached block header">帖子</h4>
                        <div class="ui bottom attached <% if (!show_user.articles.length) { %>center aligned <% } %>segment">
							<% if (!show_user.articles.length) { %>该用户从未发表帖子<% } else { %>
                            <table class="ui very basic table">
                                <thead>
                                    <tr>
                                        <th>标题</th>
                                        <th>时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let article of show_user.articles) { %>
                                    <tr>
																			  <td><a href="<%= syzoj.utils.makeUrl(['article', article.id]) %>"><%= article.title %></a></td>
                                        <td><%= syzoj.utils.formatDate(article.public_time) %></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
							<% } %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <h4 class="ui top attached block header">比赛</h4>
                        <div class="ui bottom attached segment">
                            <div id="rating_chart" style="width: 100%; height: 300px; margin: auto auto 30px;"></div>
                            <table class="ui very basic table">
                                <thead>
                                    <tr>
                                        <th>比赛</th>
                                        <th>名次</th>
                                        <th>积分</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (const history of ratingHistories) { %>
                                    <tr>
                                        <td><%= history.contestName %></td>
                                        <td><%= history.rank != null ? history.rank + (history.participants ? (" / " + history.participants) : '') : '' %></td>
                                        <td><span class="user-<%= syzoj.utils.makeUserColor(history.value, false) %>"><%= history.value %></span> 
                                            <% if(history.delta != null) { %> 
                                                <span class="<%= history.delta >= 0 ? 'rating_up' : 'rating_down' %>">
                                                (<%= (history.delta < 0 ? '' : '+') + history.delta %>)
                                            <% } %>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
$(function () {
<% if (show_user.allowedEdit) { %>
  $('#user_card .image').dimmer({
    on: 'hover'
  });
<% } %>

  var pie = new Chart(document.getElementById('pie_chart').getContext('2d'), {
    aspectRatio: 1,
    type: 'pie',
    data: {
      datasets: [
        {
          data: [
            <%= statistics["Accepted"] %>,
            <%= statistics["Wrong Answer"] %>,
            <%= statistics["Runtime Error"] %>,
            <%= statistics["Time Limit Exceeded"] %>,
            <%= statistics["Memory Limit Exceeded"] %>,
            <%= statistics["Compile Error"] %>,
          ],
          backgroundColor: [
            "#66dd66",
            "#ff6384",
            "darkorchid",
            "#ffce56",
            "#00b5ad",
            "#35a0e8"
          ]
        }
      ],
      labels: [
        "Accepted",
        "Wrong Answer",
        "Runtime Error",
        "Time Limit Exceeded",
        "Memory Limit Exceeded",
        "Compile Error"
      ]
    },
    options: {
      responsive: true,
      legend: {
        display: false
      },
      legendCallback: function (chart) {
  			var text = [];
  			text.push('<ul style="list-style: none; padding-left: 20px; margin-top: 0; " class="' + chart.id + '-legend">');

  			var data = chart.data;
  			var datasets = data.datasets;
  			var labels = data.labels;

  			if (datasets.length) {
  				for (var i = 0; i < datasets[0].data.length; ++i) {
  					text.push('<li style="font-size: 12px; width: 50%; display: inline-block; color: #666; "><span style="width: 10px; height: 10px; display: inline-block; border-radius: 50%; margin-right: 5px; background-color: ' + datasets[0].backgroundColor[i] + '; "></span>');
  					if (labels[i]) {
  						text.push(labels[i]);
  					}
  					text.push('</li>');
  				}
  			}

  			text.push('</ul>');
  			return text.join('');
  		}
    },
  });

  document.getElementById('pie_chart_legend').innerHTML = pie.generateLegend();
});
</script>
<script>
    $(() => {
        var markings = [
            { color: '#a00', lineWidth: 1, yaxis: { from: 3000 } },
            { color: '#f33', lineWidth: 1, yaxis: { from: 2600, to: 2999 } },
            { color: '#f77', lineWidth: 1, yaxis: { from: 2400, to: 2599 } },
            { color: '#ffbb55', lineWidth: 1, yaxis: { from: 2300, to: 2399 } },
            { color: '#ffcc88', lineWidth: 1, yaxis: { from: 2100, to: 2299 } },
            { color: '#f8f', lineWidth: 1, yaxis: { from: 1900, to: 2099 } },
            { color: '#aaf', lineWidth: 1, yaxis: { from: 1600, to: 1899 } },
            { color: '#77ddbb', lineWidth: 1, yaxis: { from: 1400, to: 1599 } },
            { color: '#7f7', lineWidth: 1, yaxis: { from: 1200, to: 1399 } },
            { color: '#ccc', lineWidth: 1, yaxis: { from: 0, to: 1199 } },
        ];
        var data = [
            {
                data: [
                    <% for (let i = 0; i < ratingHistories.length; i++) { %>
                        [<%= ratingHistories.length - i - 1 %>, <%= ratingHistories[i].value %>],
                    <% } %>
                ],
                color: '#000',
                points: { show: true },
                lines: { show: true }
            }
        ];
        var ids = {
            <% for (let i = 0; i < ratingHistories.length; i++) { %>
                <%= ratingHistories.length - i - 1 %>: "<%= ratingHistories[i].contestId %>",
            <% } %>
        };
        var options = {
            series: {
                lines: { show: true },
                points: { show: true }
            },
            grid: {
                markings: markings,
                hoverable: true,
                clickable: true
            },
            xaxis: {
                ticks: [
                    <% for (let i = 0; i < ratingHistories.length; i++) { %>
                        [<%= ratingHistories.length - i - 1 %>, "<%= ratingHistories[i].contestName %>"],
                    <% } %>
                ],
                tickFormatter: function (val, axis) {
                    return axis.ticks[val - 1].label;
                },
                min: 0,
                max: <%= ratingHistories.length %>
            },
            yaxis: {
                <% let minRating = 10000, maxRating = 0;
                for (const history of ratingHistories) {
                    minRating = Math.min(minRating, history.value);
                    maxRating = Math.max(maxRating, history.value);
                } %>
                min: <%= Math.max(0, minRating - 150) %>,
                max: <%= maxRating + 150 %>
            }
        };
        $.plot($("#rating_chart"), data, options);
        $(window).resize(function(){
            $.plot($("#rating_chart"), data, options);
        });
        $("#rating_chart").bind("plothover", function (event, pos, item) {
            if (item && item.datapoint[0]) {
                $(this).css('cursor', 'pointer');
            } else {
                $(this).css('cursor', 'default');
            }
        });
        $("#rating_chart").bind("plotclick", function (event, pos, item) {
            if (item && item.datapoint[0]) {
                window.location.href = "<%= syzoj.utils.makeUrl(['contest', '']) %>" + ids[item.datapoint[0]];
            }
        });
    });
</script>
<%- include('footer'); %>
